<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO app</title>
  <script src="vue.js"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <style>
    #app {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      height: 50vh;
    }
    .line-through {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <progress-sec :todos="todos"></progress-sec><hr>
    <create-sec @create="create" :priority="priority"></create-sec><hr>
    <filter-sec></filter-sec><hr>
    <view-sec @dotask.once="doTask" :todos="todos"></view-sec>
  </div>
  <script>
    const progress = {
      template: `<section> <h1>Tasks {{done}}/{{all}}</h1> <div class="progress"> <div class="progress-bar" role="progressbar" :style="{ width: proc+'%' }" :aria-valuenow="proc" aria-valuemin="0" aria-valuemax="100">{{proc}}%</div> </div> </section>`, 
      props: {todos: Array},
      computed: {
        all: function() {
          return this.todos.length
        },
        done: function() {
          let done = 0;
          for (let i=0;i<this.all;++i) if (this.todos[i].done) done++
          return done
        },
        proc: function() {
          return parseInt(this.done/this.all*100)
        }
      }
    }
    const create = {
      props: ['priority'],
      data: () => {
        return {
          newItem: {
            content: '',
            priority: 1
          }
        }
      },
      template: `
        <section class="input-group">
          <input type="text" style="width: 70%" class="form-control" placeholder="Title" v-model="newItem.content">
          <select class="custom-select">
            <option v-for="i in priority" v-model="newItem.priority">{{i}}</option>
          </select>
          <button class="btn btn-outline-primary" @click="$emit('create', newItem)">Create</button>
        </section>
        `
    }
    const filter = {
      template: `
        <section>
          <input type="search" class="form-control" placeholder="Seacrh">
          <div class="btn-group btn-group-toggle mt-3">
            <label class="btn btn-primary active">
    <input type="radio" name="item-status" autocomplete="off" checked>All</label>
                     <label class="btn btn-primary">
    <input type="radio" name="item-status" autocomplete="off">Done</label>

            <label class="btn btn-primary">
    <input type="radio" name="item-status" autocomplete="off">Undone</label>
          </div>
<br>
<div class="btn-group btn-group-toggle mt-3">
            <label class="btn btn-primary active">
    <input type="radio" name="item-status" autocomplete="off" checked>Ascending</label>
                     <label class="btn btn-primary">
    <input type="radio" name="item-status" autocomplete="off">Descending</label>
          </div>
        </section>
      `
    }
    const view = {
      template: `
        <section class="view_container">
          <ul class="list-group">
      <li v-for="(el, i) in todos" v-on="{ click: el.done ? null : () => $emit('dotask', i) }" class="list-group-item" :class="{ 'line-through': el.done }">
      {{el.content}} - {{el.priority}}
        <button style="float: right">Del</button>
      </li>
          </ul>
        </section>
      `,
      props: {
        todos: Array
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        todos: [
          {content: 'First', priority: 1, done: true},
          {content: 'Second', priority: 2, done: 0},
          {content: 'Third', priority: 3, done: 0}
        ],
      },
      computed: {
        priority() {return this.todos.length+1}
      },
      methods: {
        create(e) {
          console.log('Hi', e)
          this.todos.splice(e.priority-1, 0, {...e, done: false})
        },
        doTask(e) {
          console.log('Task done', e, this.todos[e].done)
          this.$set(this.todos[e], 'done', true)
        }
      },
      components: {
        progressSec: progress,
        createSec: create,
        filterSec: filter,
        viewSec: view
      }
    }) 
  </script>
</body>
</html>
