<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO app</title>
  <script src="vue.js"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <style>
    #app {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      height: 50vh;
    }
    .line-through {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <progress-sec :todos="todos"></progress-sec><hr>
    <create-sec @create="create" :priority="priority"></create-sec><hr>
    <filter-sec v-on="{ filterStatus, sortPriority, search }"></filter-sec><hr>
    <view-sec v-on="{ doTask, deleteTask }" :todos="filteredTodos"></view-sec>
  </div>
  <script>
    const progress = {
      template: `
        <section>
          <h1>Tasks {{done}}/{{all}}</h1>
          <div class="progress">
            <div class="progress-bar" 
                 role="progressbar"
                :style="{ width: proc+'%' }"
                :aria-valuenow="proc"
                 aria-valuemin="0"
                 aria-valuemax="100">
              {{proc}}%
            </div>
          </div>
      </section>`, 
      props: {todos: Array},
      computed: {
        all: function() {
          return this.todos.length
        },
        done: function() {
          let done = 0;
          for (let i=0;i<this.all;++i) if (this.todos[i].done) done++
          return done
        },
        proc: function() {
          return parseInt(this.done/this.all*100)
        }
      }
    }
    const create = {
      props: ['priority'],
      data: () => {
        return {
          newItem: {
            content: '',
            priority: 1
          }
        }
      },
      template: `
        <section class="input-group">
          <input type="text"
                 style="width: 70%"
                 class="form-control" 
                 placeholder="Title" 
                 v-model="newItem.content">
          <select class="custom-select"
                  v-model="newItem.priority">
            <option v-for="i in priority">{{i}}</option>
          </select>
          <button class="btn
                         btn-outline-primary"
                  @click="$emit('create', newItem)">
            Create
          </button>
        </section>
        `
    }
    const filter = {
      data() {
        return {
          btns: [{ label: 'All', active: true }, 
                 { label: 'Done', active: false }, 
                 { label: 'Undone', active: false }],
          sortBtns: [
            { label: 'Ascending', active: true, op: 0 }, 
            { label: 'Descending', active: false, op: 1 }
          ],
          searchStr: ''
        }
      },
      methods: {
        filterProgress(el) {
          this._clearBtns(this.btns, 'active')
          el.active = true
          this.$emit('filterStatus', el.label)
        },
        sortPriority(el) {
          this._clearBtns(this.sortBtns, 'active')
          el.active = true
          this.$emit('sortPriority', el.op)
        },
        _clearBtns(arr, field) {
          arr.forEach((el)=>{el[field]=false})
        }
      },
      template: `
        <section>
          <input v-model="searchStr"
                @input="$emit('search', searchStr)"
                 type="search"
                 class="form-control"
                 placeholder="Search">
          <div class="btn-group btn-group-toggle mt-3">
            <button v-for="el in btns" class="btn 
                          btn-primary" 
                  @click="filterProgress(el)"
                  :class="{ active: el.active }">
              {{el.label}}
            </button> 
          </div>
          <br>
          <div class="btn-group btn-group-toggle mt-3">
            <button v-for="el in sortBtns" class="btn btn-primary"
                   @click="sortPriority(el)"
                   :class="{ active: el.active }">
              {{el.label}}
            </button>
          </div>
        </section>
      `
    }
    const view = {
      template: `
        <section class="view_container">
          <ul class="list-group">
          <li v-for="(el, i) in todos"
              @click="() => (el.done)?null:$emit('doTask', i)"
              class="list-group-item"
              :class="{ 'line-through': el.done }">
            {{el.content}} - {{el.priority}}
            <button @click="$emit('deleteTask', i)" 
                     class="close" 
                     style="float: right">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
          </ul>
        </section>
      `,
      props: {
        todos: Array
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        todos: [
          {content: 'First', priority: 1, done: true},
          {content: 'Second', priority: 2, done: 0},
          {content: 'Third', priority: 3, done: 0}
        ],
        filterOption: 'All',
        currentSorting: 0,
        searchStr: '',
        searchOption: false
      },
      computed: {
        priority() {
          return this.todos.length+1
        },
        filteredTodos() {
          let newArr = []
          switch (this.filterOption) {
            case 'Done':
              newArr = this.todos.filter(el => el.done)
              break
            case 'Undone':
              newArr = this.todos.filter(el => !el.done)
              break 
            case 'All':
            default:
              newArr = this.todos
          }
          if (this.searchOption)
            newArr = newArr.filter(el => el.content
                                           .toLowerCase()
                                           .includes(this.searchStr))
          return newArr 
        }
      },
      created() {
        this.filterStatus()
      },
      methods: {
        create(e) {
          console.log('Hi', e)
          this.todos.splice(e.priority-1, 0, {...e, done: false})
        },
        doTask(e) {
          console.log('Task done', e, this.todos[e].done)
          Vue.set(this.todos[e], 'done', true)
        },
        sortPriority(a) {
          if (a != this.currentSorting) {
            this.todos = this.todos.reverse()
            this.currentSorting = !this.currentSorting
          }
        },
        filterStatus(a) {
          this.filterOption = a
        },
        search(str) {
          this.searchOption = true
          this.searchStr = str.toLowerCase()
        },
        deleteTask(i) {
          this.todos.splice(i, 1)
        }
      },
      components: {
        progressSec: progress,
        createSec: create,
        filterSec: filter,
        viewSec: view
      }
    }) 
  </script>
</body>
</html>
